version: 2
jobs:
  build:
    docker:
      - image: elixir:1.9.1
    steps:
      - checkout
      - run:
          name: Install Hex
          command: mix local.hex --force
      - run:
          name: Run deps.get
          command: mix deps.get
      - run:
          name: Run deps.compile
          command: mix deps.compile
      - run:
          name: Run mix compile
          command: mix compile
      - run:
          name: Run test
          command: mix test

